.aside-container {
  padding: 32px;

  & img {
    width: 2.865rem;
    height: 3rem;
  }

  & .aside-content {
    & h1 {
      font: var(--font-logo);
      color: var(--pink);
    }

    & p {
      color: var(--text-heading);
    }
  }
}