#app {
  display: grid;
  grid-template-columns: 32% 68%;
  gap: 20px;
  padding: 20px;

  height: 100dvh;
  overflow: hidden;

  background-color: var(--shape-background);
}

aside,
main {
  border-radius: 12px;
}

aside {
  max-width: 25rem;
  margin-left: auto;

  background: url("../assets/background.png") no-repeat center/cover;
}

.aside-container {
  padding: 32px;

  & img {
    width: 2.865rem;
    height: 3rem;
  }

  & .aside-content {
    & h1 {
      font: var(--font-logo);
      color: var(--pink);
    }

    & p {
      color: var(--text-heading);
    }
  }
}

main {
  max-width: 51.25rem;

  background-color: var(--shape-body);
}
