#app {
  display: grid;
  grid-template-columns: 32% 68%;
  gap: 20px;

  padding: 20px;

  height: 100dvh;
  overflow: hidden;

  background-color: var(--shape-background);
}

aside,
main {
  border-radius: 12px;
}

aside {
  max-height: 100dvh;
  max-width: 25rem;
  margin-left: auto;

  background: url("../assets/background.png") no-repeat center/cover;
}

main {
  max-width: 51.25rem;

  background-color: var(--shape-body);
  overflow: auto;
}


